@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap');
#bg-img{
      background-image: url(./img/bg-cover.png);
      background-position: center;
      background-size: cover;
}

.font-family{
      font-family: 'Poppins', sans-serif;
}
html{
      overflow-x: hidden;
}